@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  
  /*background: linear-gradient(to bottom, #2980b9, #2c3e50);*/
  background-color: #0a0a0a;
  background-attachment: fixed;
  color:white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



/* glow for page title */
@keyframes glowing {
  0% {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  }
  50% {
    box-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.15);
  }
  100% {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  }
}

.animate-glow {
  animation: glowing 5s infinite;
}
/* glow for page title */


/* glow for text */
@keyframes textglowing {
  0% {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  }
  50% {
    text-shadow: 0px 0px 40px 10px rgba(255, 255, 255, 0.15);
  }
  100% {
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
  }
}

.text-glow {
  animation: textglowing 5s infinite;
}
/* glow for text*/


/* Mabry Font */
@font-face {
  font-family: 'MabryPro';
  src: url('/MabryPro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MabryPro';
  src: url('/Mabry/MabryPro-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MabryPro';
  src: url('/Mabry/MabryPro-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MabryPro';
  src: url('/Mabry/MabryPro-BoldItalic.woff2') format('woff2');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MabryPro';
  src: url('/Mabry/MabryPro-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MabryPro';
  src: url('/Mabry/MabryPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MabryPro';
  src: url('/Mabry/MabryPro-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MabryPro';
  src: url('/Mabry/MabryPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MabryPro';
  src: url('/Mabry/MabryPro-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'MabryPro';
  src: url('/Mabry/MabryPro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Mabry Font */

.customfont {
  font-family: 'Avenir', sans-serif;
}

/* Avenir Font */
@font-face {
  font-family: 'Avenir';
  src: url('/Avenir/Avenir-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/Avenir/Avenir-Heavy.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/Avenir/Avenir-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/Avenir/Avenir-Book.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url('/Avenir/Avenir-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
/* Avenir Font */